:root{
    --fonte-principal: 'Fraunces', serif;
    --fonte-secundária: 'Montserrat', sans-serif;
    --creme: hsl(30, 38%, 92%);
    --verde: hsl(158, 36%, 37%);
    --azul: hsl(212, 21%, 14%);
    --azul-acinzentado: hsl(228, 12%, 48%);
    --branco: hsl(0, 0%, 100%);
}

body{
    box-sizing: border-box;
    background-color: var(--creme);
    /* height: 100vh; */
}

.container{
    display: flex;
    background-color: var(--branco);
    border-radius: 3%;
    width: 45%;
    height: 60%;
    margin: 8% auto;
}

.container__imagem{
    /* box-sizing: border-box; */
    width: 50%;
}

.container__imagem-img{
    max-width: 100%;
    max-height: 100%;
    /* width: auto;
    height: auto; */
}

.container__descrição{
    width: 50%;
    padding: 25px;
}

.container__subtítulo{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container__título{
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
}

.container__texto{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    font-size: 14px;
}

.container__preço{
    display: flex;
    padding: 20px 0;
}

.preço{
    color: var(--verde);
    font-family: var(--fonte-principal);
    font-size: 40px;
}

.preço__antigo{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    text-decoration: line-through;
}