:root{
    --fonte-principal: 'Fraunces', serif;
    --fonte-secundária: 'Montserrat', sans-serif;
    --creme: hsl(30, 38%, 92%);
    --verde: hsl(158, 36%, 37%);
    --azul: hsl(212, 21%, 14%);
    --azul-acinzentado: hsl(228, 12%, 48%);
    --branco: hsl(0, 0%, 100%);
}

body{
    background-color: var(--creme);
    font-weight: 500;
}

.corpo{
    /* padding: 10% 30%; */
    height: 98vh;
    display: flex;
}

.container{
    display: flex;
    background-color: var(--branco);
    border-radius: 3%;
    height: 55%;
    width: 40%;
    margin: auto;
}

.container__imagem{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
}

.container__descrição{
    width: 50%;
    padding: 3rem;
}

.container__subtítulo{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container__título{
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
    padding: 2rem 0;
}

.container__texto{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    font-size: 1rem;
    line-height: 25px;
}

.container__preço{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem 0;
}

.preço{
    color: var(--verde);
    font-family: var(--fonte-principal);
    font-size: 40px;
}

.preço__antigo{
    color: var(--azul-acinzentado);
    font-family: var(--fonte-secundária);
    text-decoration: line-through;
}

.container__botão{
    display: block;
    width: 100%;
    margin: auto;
    background-color: var(--verde);
    color: var(--branco);
    font-family: var(--fonte-secundária);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 0;
    border-radius: 14px;
    border: none;
}

.botão__imagem{
    padding-right: 1rem;
}